In [2]:
import pandas as pd

In [6]:
movies_cols = ['movie_id', 'title', 'release_date', 'video_release_date','imdb_url','','','','','','','','','','','','','','','','','','','']

movies = pd.read_table('http://files.grouplens.org/datasets/movielens/ml-100k/u.item',names = movies_cols, header = None , sep ='|',encoding='latin-1')

In [7]:
movies.head()

,movie_id,title,release_date,video_release_date,imdb_url,,.1,.2,.3,.4,...,.9,.10,.11,.12,.13,.14,.15,.16,.17,.18
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0